<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html :: head-title(~{::title})}">
    <title th:text="#{title.party.settings}">title.party.settings</title>
</head>

<body>
<header th:replace="~{fragments/header.html :: header-common}"></header>
<div th:replace="fragments.html :: party-banner"></div>
<div th:replace="fragments.html :: party-info-menu(partyMenu='settings')"></div>

<main class="container">
<div class="row mt-3 justify-content-center">
    <div class="col-xs-10 col-sm-11 col-md-3 col-lg-2 col-xl-2 mb-3">
        <div th:replace="fragments.html :: party-settings-menu(currentMenu='banner')"></div>
    </div>
    <div class="col-xs-10 col-sm-11 col-md-8 col-lg-9 col-xl-10">
        <div class="mb-3">
            <label for="banner-image" class="form-label">Banner Image</label>
            <div th:replace="fragments.html :: message"></div>
            <form th:if="${!party.useBanner}" action="#" th:action="@{'/party/' + ${party.getPath()} + '/settings/banner/enable'}" method="post" novalidate>
                <div class="alert alert-secondary" role="alert">
                    Banner image has been currently hidden.
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-secondary btn-block" type="submit" aria-describedby="submitHelp">Show Banner Image</button>
                </div>
            </form>
            <form th:if="${party.useBanner}" action="#" th:action="@{'/party/' + ${party.getPath()} + '/settings/banner/disable'}" method="post" novalidate>
                <div class="alert alert-primary" role="alert">
                    Banner image has been currently displayed.
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">Hide Banner Image</button>
                </div>
            </form>
        </div>
        <div class="mb-3">
            <div id="banner-image" class="card text-center">
                <div class="card-body">
                    <div id="new-banner-image"></div>
                    <div id="custom-file" class="custom-file mt-3">
                        <input type="file" class="custom-file-input" id="banner-image-file" hidden>
                        <label class="btn btn-outline-secondary custom-file-label" for="banner-image-file">Select file</label>
                    </div>
                    <div id="new-banner-image-control" class="my-3">
                        <button class="btn btn-outline-primary btn-block" id="cut-button">Cut</button>
                        <button class="btn btn-outline-warning btn-block" id="reset-button">Cancel</button>
                    </div>
                    <div id="cropped-new-banner-image"> </div>
                    <div id="cropped-new-banner-image-control" class="my-3">
                        <button class="btn btn-outline-success btn-block" id="confirm-button">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <form id="imageForm" action="#" th:action="@{'/party/' + ${party.getPath()} + '/settings/banner'}" method="post" novalidate>
                <div class="form-group">
                    <input id="bannerImage" type="hidden" name="image" class="form-control" />
                </div>
                <div class="form-group d-flex align-items-end flex-column">
                    <button class="btn btn-sky btn-block" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</main>

<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>
<script th:replace="~{fragments/script.html :: tooltip}"></script>
<link  href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet">
<script src="/node_modules/cropper/dist/cropper.min.js"></script>
<script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
<script type="application/javascript">
    <!-- jquery -->
    $(function() {
        cropper = '';
        let $confirmBtn = $("#confirm-button");
        let $resetBtn = $("#reset-button");
        let $cutBtn = $("#cut-button");
        let $newBannerImage = $("#new-banner-image");
        let $currentBannerImage = $("#current-banner-image");
        let $resultImage = $("#cropped-new-banner-image");
        let $bannerImage = $("#bannerImage");
        let $bannerImageFile = $("#banner-image-file");
        let $customFile = $("#custom-file");

        $newBannerImage.hide();
        $cutBtn.hide();
        $resetBtn.hide();
        $confirmBtn.hide();

        $("#banner-image-file").change(function(e) {
            if (e.target.files.length === 1) {
                const reader = new FileReader();
                reader.onload = e => {
                    if (e.target.result) {
                        if (!e.target.result.startsWith("data:image")) {
                            alert("Please select an image file");
                            return;
                        }

                        let img = document.createElement("img");
                        img.id = 'new-banner';
                        img.src = e.target.result;
                        img.setAttribute('width', '100%');

                        $newBannerImage.html(img);
                        $newBannerImage.show();
                        $currentBannerImage.hide();
                        $customFile.hide();

                        let $newImage = $(img);
                        $newImage.cropper({aspectRatio: 6/1});
                        cropper = $newImage.data('cropper');

                        $cutBtn.show();
                        $confirmBtn.hide();
                        $resetBtn.show();
                    }
                };

                reader.readAsDataURL(e.target.files[0]);
            }
        });

        $resetBtn.click(function() {
            $currentBannerImage.show();
            $customFile.show();
            $newBannerImage.hide();
            $resultImage.hide();
            $resetBtn.hide();
            $cutBtn.hide();
            $confirmBtn.hide();
            $bannerImage.val('');
            $bannerImageFile.val('');
        });

        $cutBtn.click(function () {
            let dataUrl = cropper.getCroppedCanvas().toDataURL();

            if (dataUrl.length > 1000 * 1024) {
                alert("image file size is too large. (max = 1,024,000 byte, current = " + dataUrl.length + " byte)");
                return;
            }

            let newImage = document.createElement("img");
            newImage.id = "cropped-new-banner-image";
            newImage.src = dataUrl;
            newImage.width = 256;
            $resultImage.html(newImage);
            $resultImage.show();
            $confirmBtn.show();

            $confirmBtn.click(function () {
                $newBannerImage.html(newImage);
                $cutBtn.hide();
                $confirmBtn.hide();
                $bannerImage.val(dataUrl);
            });
        });
    });
</script>
</body>
</html>