<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html :: head-title(~{::title})}">
    <title th:text="#{title.party.settings}">title.party.settings</title>
</head>

<body>
<header th:replace="~{fragments/header.html :: header-common}"></header>
<div th:replace="fragments.html :: party-banner"></div>
<div th:replace="fragments.html :: party-info-menu(partyMenu='settings')"></div>

<main class="container">
    <div class="row mt-3 justify-content-center">
        <div class="col-xs-10 col-sm-11 col-md-3 col-lg-2 col-xl-2 mb-3">
            <div th:replace="fragments.html :: party-settings-menu(currentMenu='party')"></div>
        </div>
        <div class="col-xs-10 col-sm-11 col-md-8 col-lg-9 col-xl-10">
            <div th:replace="fragments.html :: message"></div>

            <!--<label for="party-settings-info" class="form-label">Info</label>
            <div th:if="${!party.closed}" id="party-settings-info" class="mb-3">
                &lt;!&ndash;update title&ndash;&gt;
                <form  class="needs-validation" th:object="${partyUpdateForm}" action="#" th:action="@{'/party/' + ${party.path} + '/settings/party/title'}" method="post">
                    <div class="form-group">
                        <label for="update-title">Update Title</label>
                        <input id="update-title" type="text" th:value="${party.title}" class="form-control" th:errorclass="field-error" placeholder="title" required maxlength="50">
                        <small class="form-text text-danger field-error" th:text="${partyTitleError}">Title Error</small>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-warning" type="submit">Save</button>
                    </div>
                </form>

                &lt;!&ndash;update path&ndash;&gt;
                todo update path <form action="#" th:action="@{'/party/' + ${party.path} + '/settings/party/path'}" method="post">
                    <div class="alert alert-warning" role="alert">
                        if you update path, the old path is permanently unavailable.
                    </div>
                    <div class="form-group">
                        &lt;!&ndash;todo disable now&ndash;&gt;
                        <button class="btn btn-outline-warning" type="submit" disabled>Update Path</button>
                    </div>
                </form>
            </div>-->



            <label for="party-settings-status" class="form-label">Status</label>
            <div id="party-settings-status" class="mb-3">
                <!--open-->
                <form class="mb-3" th:if="${!party.published && !party.closed}" action="#" th:action="@{'/party/' + ${party.getPath()} + '/settings/party/publish'}" method="post" novalidate>
                    <div class="alert alert-primary" role="alert">
                        You need to open at first.
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Open</button>
                    </div>
                </form>
                <form class="mb-3" th:if="${party.published && !party.closed}" action="#" th:action="@{'/party/' + ${party.getPath()} + '/settings/party/close'}" method="post" novalidate>
                    <div class="alert alert-danger" role="alert">
                        Temporarily disabled
                        <!--If you close, this party will be permanently unavailable.-->
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-danger" type="submit" disabled>Close</button>
                    </div>
                </form>

                <!--Recruitment-->
                <form class="mb-3" th:if="${!party.closed && !party.recruiting && party.published}" action="#" th:action="@{'/party/' + ${party.getPath()} + '/settings/recruit/start'}" method="post" novalidate>
                    <div class="alert alert-danger" role="alert">
                        Start recruiting.
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Recruitment Starts</button>
                    </div>
                </form>
                <form class="mb-3" th:if="${!party.closed && party.recruiting && party.published}" action="#" th:action="@{'/party/' + ${party.getPath()} + '/settings/recruit/stop'}" method="post" novalidate>
                    <div class="alert alert-danger" role="alert">
                        Temporarily disabled <!--You can close the recruitment.-->
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-success" type="submit" disabled>Recruitment End</button>
                    </div>
                </form>

                <form class="mb-3" action="#" th:if="${party.closed}" th:action="@{'/party/' + ${party.getPath()} + '/settings/party/remove'}" method="post">
                    <div class="form-group">
                        <button th:if="${party.isRemovable()}" class="btn btn-outline-danger" type="submit">Delete</button>
                        <button th:if="${!party.isRemovable()}" class="btn btn-outline-danger" type="submit" disabled>Delete</button>
                    </div>
                </form>
            </div>
            <!--<div th:if="${party.closed}" class="col-sm-12 alert alert-info">
                이 파티는 <span class="date-time" th:text="${party.closedDateTime}"></span>에 종료됐습니다.<br/>
                다시 파티를 진행하고 싶다면 새로운 파티를 만드세요.<br/>
            </div>-->
            <!--delete-->
            <!--If you delete, this party's history will be permanently deleted.-->
            <!--todo 공개 중이거나 모임을 했던 파티는 삭제할 수 없습니다.-->
<!--            <div id="party-settings-delete" class="mb-3">

            </div>-->
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>
<script th:replace="~{fragments/script.html :: tooltip}"></script>
<script th:replace="~{fragments/script.html :: form-validation}"></script>
</body>

</html>