<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head.html :: head-title-links(~{::title}, ~{::link})}">
    <title th:text="#{title.party.settings}">title.party.settings</title>
    <link rel="stylesheet" th:href="@{/css/basic.css}" />
</head>
<body class="bg-light">
<header th:replace="~{fragments/header.html :: header-common}"></header>
<div th:replace="fragments.html :: party-banner"></div>

<div class="container">
    <div th:replace="fragments.html :: party-info"></div>
    <div th:replace="fragments.html :: party-menu(partyMenu='zones')"></div>

    <div class="row mt-3 justify-content-center">

        <div class="col-2">
            <div th:replace="fragments.html :: party-settings-menu(currentMenu='zones')"></div>
        </div>
        <div class="col-8">
            <div class="row">
                <!-- title -->
                <h2 class="col-12">Zones</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- description -->
                    <div class="alert alert-info" role="alert">
                        You can add a zone with comma or enter key
                    </div>
                    <!-- function -->
                    <div id="whitelist" th:text="${whitelist}" hidden></div>
                    <input id="zones" type="text" name="zones" th:value="${#strings.listJoin(zones, ',')}"
                           class="tagify-outside" aria-describedby="tagHelp"/>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>
<script th:replace="~{fragments/script.html :: ajax-csrf-header}"></script>
<script th:replace="~{fragments/script.html :: update-zones(baseUrl='/party/' + ${party.path} + '/settings/zones')}"></script>
</body>
</html>