<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html :: head-title(~{::title})}">
    <title th:text="#{title.party}">title.party</title>
</head>

<body>
<header th:replace="~{fragments/header.html :: header-common}"></header>

<main class="container">
    <div class="mx-3 my-5">
        <h3 th:text="#{new-party}">new-party</h3>
        <p class="text-sm text-secondary text-opacity-50" th:text="#{new-party.desc}"></p>
        <form class="needs-validation mt-5" th:action="@{/new-party}" th:object="${partyForm}" method="post" novalidate>
            <div class="row">
                <div class="col-12 mb-2">
                    <label for="path" class="form-label">Path</label>
                    <input id="path" type="text" th:field="*{path}" class="form-control" th:fieldclass="field-error" placeholder="..." required max="30">
                    <small class="invalid-feedback" th:text="${required}">required</small>
                    <small class="form-text text-danger field-error" th:errors="*{path}">Path Error</small>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-2">
                    <label for="title" class="form-label">Title</label>
                    <input id="title" type="text" th:field="*{title}" class="form-control" th:fieldclass="field-error" placeholder="..." required max="50">
                    <small class="invalid-feedback" th:text="${required}">required</small>
                    <small class="form-text text-danger field-error" th:errors="*{title}">Title Error</small>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-2">
                    <label for="shortDescription" class="form-label">Intro</label>
                    <textarea id="shortDescription" type="textarea" th:field="*{shortDescription}" class="form-control" th:errorclass="field-error" placeholder="Explain your party in a sentence." required maxlength="100"></textarea>
                    <small class="invalid-feedback" th:text="${required}">required</small>
                    <small class="form-text text-danger field-error" th:errors="*{shortDescription}">shortDescription</small>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-2">
                    <label for="fullDescription" class="form-label">Description</label>
                    <textarea id="fullDescription" type="textarea" th:field="*{fullDescription}" class="form-control editor" th:errorclass="field-error" placeholder="..." required></textarea>
                    <small class="invalid-feedback" th:text="${required}">required</small>
                    <small class="form-text text-danger field-error" th:errors="*{fullDescription}">fullDescription</small>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-center gap-2 mt-1">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" onclick="location.href='/'" class="btn btn-outline-secondary">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</main>

<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>
<script th:replace="~{fragments/script.html :: form-validation}"></script>
<script th:replace="~{fragments/script.html :: editor-script}"></script>
</body>

</html>