<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html :: head-title(~{::title})}">
    <title th:text="#{title.party}">title.party</title>
</head>

<body>
<header th:replace="~{fragments/header.html :: header-common}"></header>
<div th:replace="fragments.html :: party-banner"></div>
<div th:replace="fragments.html :: party-info-menu(partyMenu='info')"></div>

<main class="container">
    <div class="pt-3 justify-content-center" th:utext="${party.fullDescription}"></div>
</main>

<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>
<script th:replace="~{fragments/script.html :: tooltip}"></script>
</body>

</html>