<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html :: head-title(~{::title})}">
    <title th:text="#{title.event}">title.event</title>
</head>

<body>
<header th:replace="~{fragments/header.html :: header-common}"></header>
<div th:replace="fragments.html :: party-banner"></div>
<div th:replace="fragments.html :: party-info-menu(partyMenu='events')"></div>

<main class="container">
    <div th:replace="fragments.html :: event-form (mode='new', action='/party/' + ${party.path} + '/new-event/')"></div>
</main>

<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>
<script th:replace="~{fragments/script.html :: form-validation}"></script>
<script th:replace="~{fragments/script.html :: editor-script}"></script>
</body>

</html>