<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head.html :: head-title(~{::title})}">
    <title th:text="#{title.event}">title.event</title>
</head>

<body>
<header th:replace="~{fragments/header.html :: header-common}"></header>
<div th:replace="fragments.html :: party-banner"></div>
<div th:replace="fragments.html :: party-info-menu(partyMenu='events')"></div>

<main class="container">
    <div class="row mt-3">
        <!-- Button trigger modal -->
        <span sec:authorize="isAuthenticated()">
            <button th:if="${event.isEnrollableFor(#authentication.principal)}" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#enroll">
                <i class="fa fa-plus"></i>
                <span> Applying</span>
            </button>
            <button th:if="${event.isDisenrollableFor(#authentication.principal)}" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#disenroll">
                <i class="fa fa-minus"></i>
                <span> Cancel</span>
            </button>
            <span th:if="${event.isAttended(#authentication.principal)}" class="text-success" disabled>
                <i class="fa fa-check"></i>
                <span> Confirmed</span>
            </span>
        </span>
        <!-- Modal -->
        <div class="modal fade" id="enroll" tabindex="-1" aria-labelledby="enrollModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="enrollModalLabel" th:text="${event.title}">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Would you like to register?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <form th:action="@{'/party/' + ${party.path} + '/events/' + ${event.id} + '/enroll'}" method="post">
                            <button class="btn btn-primary" type="submit">Yes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="disenroll" tabindex="-1" aria-labelledby="disenrollModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="disenrollModalLabel" th:text="${event.title}">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Would you like to cancel?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <form th:action="@{'/party/' + ${party.path} + '/events/' + ${event.id} + '/disenroll'}" method="post">
                            <button class="btn btn-primary" type="submit">Yes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--
    <div class="row pt-3 justify-content-center">
        <dt class="font-weight-light">Description</dt>
        <dd th:utext="${event.description}"></dd>

        <dt class="font-weight-light">Applying (<span th:text="${event.enrollments.size()}"></span>)</dt>
        <dd>
            <table class="table table-borderless table-sm" th:if="${event.enrollments.size() > 0}">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Participant</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th th:if="${party.isManager(#authentication.principal)}" scope="col">
                        Management
                    </th>
                    <th th:if="${party.isManager(#authentication.principal)}" scope="col">
                        Attendance
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="enroll: ${event.enrollments}">
                    <th scope="row" th:text="${enrollStat.count}"></th>
                    <td>
                        <a th:href="@{'/profile/' + ${enroll.account.username}}"
                           class="text-decoration-none">
                            <svg th:if="${#strings.isEmpty(enroll.account?.profileImage)}" data-jdenticon-value="username"
                                 th:data-jdenticon-value="${enroll.account.username}" width="24" height="24" class="rounded border bg-light"></svg>
                            <img th:if="${!#strings.isEmpty(enroll.account?.profileImage)}"
                                 th:src="${enroll.account?.profileImage}" width="24" height="24" class="rounded border"/>
                            <span th:text="${enroll.account.username}"></span>
                        </a>
                    </td>
                    <td>
                        <span class="date-time" th:text="${enroll.enrolledAt}"></span>
                    </td>
                    <td>
                        <span th:if="${enroll.accepted}">Confirmed</span>
                        <span th:if="${!enroll.accepted}">Wating</span>
                    </td>
                    <td th:if="${party.isManager(#authentication.principal)}">
                        <a th:if="${event.canAccept(enroll)}" href="#" class="text-decoration-none"
                           th:href="@{'/party/' + ${party.path} + '/events/' + ${event.id} + '/enrollments/' + ${enroll.id} + '/accept'}" >Accept</a>
                        <a th:if="${event.canReject(enroll)}" href="#" class="text-decoration-none"
                           th:href="@{'/party/' + ${party.path} + '/events/' + ${event.id} + '/enrollments/' + ${enroll.id} + '/reject'}">Cancel</a>
                    </td>
                    <td th:if="${party.isManager(#authentication.principal)}">
                        <a th:if="${enroll.accepted && !enroll.attended}" href="#" class="text-decoration-none"
                           th:href="@{'/party/' + ${party.path} + '/events/' + ${event.id} + '/enrollments/' + ${enroll.id} + '/checkin'}">Check In</a>
                        <a th:if="${enroll.accepted && enroll.attended}" href="#" class="text-decoration-none"
                           th:href="@{'/party/' + ${party.path} + '/events/' + ${event.id} + '/enrollments/' + ${enroll.id} + '/cancel-checkin'}">Cancel</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </dd>
    </div>
    <dl class="row pt-3 text-right">
        <dt class="font-weight-light">Enrollment Type</dt>
        <dd>
            <span th:if="${event.eventType == T(com.mouken.domain.EventType).FCFS}">FCFS</span>
            <span th:if="${event.eventType == T(com.mouken.domain.EventType).CONFIRMATIVE}">Confirmative</span>
        </dd>

        <dt class="font-weight-light">The limit of enrollment</dt>
        <dd>
            <span th:text="${event.limitOfEnrollments}"></span>
        </dd>

        <dt class="font-weight-light">Enrollment Deadline</dt>
        <dd>
            <span class="date" th:text="${event.endEnrollmentDateTime}"></span>
            <span class="weekday" th:text="${event.endEnrollmentDateTime}"></span><br/>
            <span class="time" th:text="${event.endEnrollmentDateTime}"></span>
        </dd>

        <dt class="font-weight-light">Event Date</dt>
        <dd>
            <span class="date" th:text="${event.startDateTime}"></span>
            <span class="weekday" th:text="${event.startDateTime}"></span><br/>
            <span class="time" th:text="${event.startDateTime}"></span> -
            <span class="time" th:text="${event.endDateTime}"></span>
        </dd>

        <dt class="font-weight-light">Leader</dt>
        <dd>
            <a th:href="@{'/profile/' + ${event.createdBy.username}}" class="text-decoration-none">
                <svg th:if="${#strings.isEmpty(event.createdBy?.profileImage)}"
                     th:data-jdenticon-value="${event.createdBy.username}" width="24" height="24" class="rounded border bg-light"></svg>
                <img th:if="${!#strings.isEmpty(event.createdBy?.profileImage)}"
                     th:src="${event.createdBy?.profileImage}" width="24" height="24" class="rounded border"/>
                <span th:text="${event.createdBy.username}"></span>
            </a>
        </dd>

        <dt th:if="${party.isManager(#authentication.principal)}" class="font-weight-light">Management</dt>
        <dd th:if="${party.isManager(#authentication.principal)}">
            <a class="btn btn-outline-primary btn-sm my-1"
               th:href="@{'/party/' + ${party.path} + '/events/' + ${event.id} + '/edit'}" >
                Update
            </a> <br/>
            &lt;!&ndash; Button trigger modal &ndash;&gt;
            <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#cancel">
                Cancel
            </button>
        </dd>
    </dl>
    <div class="modal fade" id="cancel" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="cancelModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Would you like to delete this event?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <form th:action="@{'/party/' + ${party.path} + '/events/' + ${event.id} + '/leave'}" th:method="delete">
                        <button class="btn btn-primary" type="submit">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
-->





</main>
<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>
<script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
<script type="application/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();

        moment.locale('ko');
        $(".date-time").text(function(index, dateTime) {
            return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLL');
        });
        $(".date").text(function(index, dateTime) {
            return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LL');
        });
        $(".weekday").text(function(index, dateTime) {
            return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('dddd');
        });
        $(".time").text(function(index, dateTime) {
            return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LT');
        });
    })
</script>
</body>

</html>