<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-light">

<header th:fragment="header-common" class="navbar navbar-expand-md navbar-dark bd-navbar" style="background-color: #e3f2fd;">
    <nav class="container-xxl flex-wrap flex-md-nowrap" aria-label="Main navigation">
        <a class="navbar-brand p-0 me-2" href="/" aria-label="Bootstrap">
            <img src="/assets/brand/logo_sm.png">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
            </svg>
        </button>

        <div class="offcanvas offcanvas-end" id="bdNavbar" style="" aria-labelledby="offcanvasNavbarLabel">
            <!--<div class="navbar-collapse collapse" id="bdNavbar" style="" aria-labelledby="offcanvasNavbarLabel">-->
            <div class="offcanvas-body">
                <!--<div class="container-fluid">-->
                <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2">
                    <li class="nav-item col-12 col-md-auto">
                        <a class="nav-link p-2" href="/" >Home</a>
                    </li>
                    <li class="nav-item col-12 col-md-auto">
                        <a class="nav-link p-2 active" aria-current="true" href="/">Docs</a>
                    </li>
                    <li class="nav-item col-12 col-md-auto">
                        <a class="nav-link p-2" href="/" th:href="@{/new}" >Parties</a>
                    </li>
                    <li class="nav-item col-12 col-md-auto">
                        <a class="nav-link p-2" href="/" target="_blank" rel="noopener">Icons</a>
                    </li>
                </ul>

                <hr class="d-md-none text-white-50">

                <form class="navbar-nav navbar col-12 col-md-auto mb-3 mb-md-0 ms-auto me-4" role="search">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>

                <ul sec:authorize="isAuthenticated()" class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2">
                    <li class="nav-item col-12 col-md-auto">
                        <a class="nav-link p-2" th:href="@{/notifications}">
                            <i th:if="${!hasNotification}" class="fa fa-bell-o" aria-hidden="true"></i>
                            <span class="text-info" th:if="${hasNotification}">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>



        <div sec:authorize="isAuthenticated()" class="navbar-expand dropdown" >
            <a href="#" class="nav-link d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <svg th:if="${#strings.isEmpty(account?.profileImage)}"
                     data-jdenticon-value="user127"
                     th:data-jdenticon-value="${#authentication.name}"
                     width="32" height="32" class="rounded-circle">
                </svg>
                <img th:if="${!#strings.isEmpty(account?.profileImage)}"
                     th:src="${account.profileImage}"
                     width="32" height="32" class="rounded border"/>
            </a>
            <ul class="dropdown-menu dropdown-menu-sm-right text-small" data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 34px);">
                <li><a class="dropdown-item" href="#" th:href="@{/new-party}">New party</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#" th:href="@{'/profile/' + ${#authentication.name}}">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
                        <button class="dropdown-item" type="submit">Sign out</button>
                    </form>
                </li>
            </ul>
        </div>

        <div sec:authorize="!isAuthenticated()" class="navbar-expand dropdown" >
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu text-small" data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 34px);">
                <li><a class="dropdown-item" href="#" th:href="@{/login}">Sign in</a></li>
                <li><a class="dropdown-item" href="#" th:href="@{/sign-up}">Sign up</a></li>
            </ul>
        </div>

    </nav>
</header>


</body>
</html>