<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head.html :: head-title(~{::title})}">
    <title th:text="#{title.error}">title.error</title>
</head>

<body>
<main class="container">
    <section class="jumbotron text-center">
        <h1>404 Not Found</h1>
        <p class="lead text-muted">
            he requested resource could not be found.<br/>
            Please check the URL and try again.<br/>
        </p>
        <p>
            <a th:href="@{/}" class="btn btn-primary my-2">Main page</a>
        </p>
    </section>
</main>

<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>
</body>

</html>