<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head.html :: head-title(~{::title})}">
    <title>index</title>
</head>

<body class="bg-light">
<header th:replace="~{fragments/header.html :: header-common}"></header>

<div class="container">
    <div th:if="${error}" class="alert alert-danger" role="alert">
        <h6 th:text="${error}"></h6>
        <small>You can contact our <a class="alert-link" href="#">customer service</a></small>
    </div>
    <div th:if="${error == null && info != null}" class="alert alert-primary" role="alert">
        <h6 th:text="${info}"></h6>
        <small></small>
    </div>
    <div th:if="${account != null && !account.emailVerified}" class="py-5 text-center">
        <p class="lead">Sign up</p>
        <h2>Your email is not verified yet.</h2>
        <p class="lead" th:text="${email}">your@email.com</p>
        <a class="btn btn-outline-info" th:href="@{/send-email}">Send email again</a>
    </div>
    <div th:if="${account != null && account.emailVerified}" class="py-5 text-center">
        <p class="lead">Sign up</p>
        <h2>Your email is verified.</h2>
        <p class="lead" th:text="${email}">your@email.com</p>
        <a class="btn btn-outline-info" th:href="@{/}">Main page</a>
    </div>
</div>

<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>
</body>
</html>