<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html :: head-title(~{::title})}">
    <title th:text="#{title.email-login}">title.email-login</title>
</head>

<body>
<header th:replace="~{fragments/header.html :: header-common}"></header>

<main class="container">
    <div class="py-5 text-center">
        <p class="lead">Email Login</p>
        <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}">
            Failure
        </div>
        <div th:if="${error == null}">
            <h2>
                Your account signed up. Please <a th:href="@{/settings/password}">change your password</a>
            </h2>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>
</body>

</html>