<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head.html :: head-title-links(~{::title}, ~{::link})}">
  <title>index</title>
  <link rel="stylesheet" th:href="@{/css/sign-in.css}" />
</head>

<body>
<header th:replace="~{fragments/header.html :: header-common}"></header>

<main class="form-signin text-center w-100 m-auto">

  <div th:if="${error}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
    <span th:text="${error}"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form class="needs-validation" action="#" th:action="@{/send-email-login-link}" method="post" novalidate>
    <img class="mb-4" src="/assets/brand/logo_lg.png" alt="" width="60" height="60">
    <h1 class="h3 mb-3 fw-normal">Login with no password</h1>

    <div class="form-floating">
      <input type="email" class="form-control" name="email" id="floatingInput" placeholder="Email" required>
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
        <button class="w-100 btn btn-lg btn-primary" type="submit" >Send Login URL</button>
    </div>
  </form>
</main>

<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>
<script th:replace="~{fragments/script.html :: form-validation}"></script>
</body>
</html>
