<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="settings-menu (currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action"
       th:classappend="${currentMenu == 'profile'}? active"
       href="#" th:href="@{/settings/profile}">
        Profile
    </a>
    <a class="list-group-item list-group-item-action"
       th:classappend="${currentMenu == 'password'}? active"
       href="#" th:href="@{/settings/password}">
        Password
    </a>
    <a class="list-group-item list-group-item-action"
       th:classappend="${currentMenu == 'notifications'}? active"
       href="#" th:href="@{/settings/notifications}">
        Notifications
    </a>
    <a class="list-group-item list-group-item-action"
       th:classappend="${currentMenu == 'tags'}? active"
       href="#" th:href="@{/settings/tags}">
        Tags
    </a>
    <a class="list-group-item list-group-item-action"
       th:classappend="${currentMenu == 'zones'}? active"
       href="#" th:href="@{/settings/zones}">
        Locations
    </a>
    <a class="list-group-item list-group-item-action list-group-item-danger"
       th:classappend="${currentMenu == 'account'}? active"
       href="#" th:href="@{/settings/account}">
        Account
    </a>
</div>




</html>
