<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="settings-menu (currentMenu)" class="nav flex-column nav-pills" id="v-pills-settings-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link" th:classappend="${currentMenu == 'profile'}? active"
       id="v-pills-settings-profile-tab" data-toggle="pill" href="#" th:href="@{/settings/profile}"
       role="tab" aria-controls="v-pills-settings-profile" aria-selected="false" th:text="#{profile}">profile</a>
    <a class="nav-link" th:classappend="${currentMenu == 'password'}? active"
       id="v-pills-settings-password-tab" data-toggle="pill" href="#" th:href="@{/settings/password}"
       role="tab" aria-controls="v-pills-settings-password" aria-selected="false" th:text="#{password}">password</a>
    <a class="nav-link" th:classappend="${currentMenu == 'notifications'}? active"
       id="v-pills-settings-notifications-tab" data-toggle="pill" href="#" th:href="@{/settings/notifications}"
       role="tab" aria-controls="v-pills-settings-notifications" aria-selected="false" th:text="#{notifications}">notifications</a>
    <a class="nav-link" th:classappend="${currentMenu == 'tags'}? active"
       id="v-pills-settings-tags-tab" data-toggle="pill" href="#" th:href="@{/settings/tags}"
       role="tab" aria-controls="v-pills-settings-tags" aria-selected="false" th:text="#{tags}">tags</a>
    <a class="nav-link" th:classappend="${currentMenu == 'zones'}? active"
       id="v-pills-settings-zones-tab" data-toggle="pill" href="#" th:href="@{/settings/zones}"
       role="tab" aria-controls="v-pills-settings-zones" aria-selected="false" th:text="#{zones}">zones</a>
    <a class="nav-link" th:classappend="${currentMenu == 'account'}? active"
       id="v-pills-settings-account-tab" data-toggle="pill" href="#" th:href="@{/settings/account}"
       role="tab" aria-controls="v-pills-settings-account" aria-selected="false" th:text="#{account}">account</a>
</div>

<div th:fragment="party-banner" th:if="${party.useBanner}" class="row" id="party-logo">
    <img th:src="${party.image}"/>
</div>


<div th:fragment="party-info-menu(partyMenu)" class="bg-light">
    <div class="row pt-4 mx-5">
        <div class="col-md-5 text-left">
            <h2 th:text="${party.title}">party.title</h2>
            <p class="lead" th:text="${party.shortDescription}">party.shortDescription</p>
        </div>
        <div class="col-md-5 d-md-flex flex-row-reverse">
            <span th:if="${!party.published}" class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="Wating for release">
                <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>DRAFT</button>
            </span>
            <span th:if="${party.closed}" class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="Party is closed now">
                <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>CLOSED</button>
            </span>
            <span th:if="${!party.recruiting}" class="d-inline-block ml-1" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="Not recruiting">
                <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>OFF</button>
            </span>
            <span sec:authorize="isAuthenticated()" th:if="${party.isJoinable(#authentication.principal)}" class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-primary" th:href="@{'/party/' + ${party.path} + '/join'}">
                    Join the party
                </a>
                <a class="btn btn-outline-primary" th:href="@{'/party/' + ${party.path} + '/members'}" th:text="${party.members.size()}">
                    1
                </a>
            </span>
        </div>
    </div>
    <div class="row mx-5">
        <div class="col-md-10">
            <p>
                <span th:each="tag: ${party.tags}" class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                    <a th:href="@{'/search/tag/' + ${tag.title}}" class="text-decoration-none text-white">
                        <i class="fa fa-tag"></i> <span th:text="${tag.title}">Tag</span>
                    </a>
                </span>
                <span th:each="zone: ${party.zones}" class="font-weight-light text-monospace badge badge-primary mr-3">
                    <a th:href="@{'/search/zone/' + ${zone.id}}" class="text-decoration-none text-white">
                        <i class="fa fa-globe"></i> <span th:text="${zone.city}">City</span>
                    </a>
                </span>
            </p>
        </div>
    </div>
    <nav class="nav nav-tabs">
        <a class="nav-item nav-link ms-5" th:classappend="${partyMenu == 'info'}? active" href="#"  th:href="@{'/party/' + ${party.path}}">
            <i class="fa fa-info-circle"></i>
        </a>
        <a class="nav-item nav-link" th:classappend="${partyMenu == 'members'}? active" href="#" th:href="@{'/party/' + ${party.path} + '/members'}">
            <i class="fa fa-user"></i>
        </a>
        <a class="nav-item nav-link" th:classappend="${partyMenu == 'events'}? active" href="#" th:href="@{'/party/' + ${party.path} + '/events'}">
            <i class="fa fa-calendar"></i>
        </a>
        <a class="nav-item nav-link me-5" th:classappend="${partyMenu == 'settings'}? active" href="#" th:href="@{'/party/' + ${party.path} + '/settings/description'}" sec:authorize="isAuthenticated()" th:if="${party.isManager(#authentication.principal)}" >
            <i class="fa fa-cog"></i>
        </a>
    </nav>
</div>

<div th:fragment="member-list (members, isManager)" class="row px-3 justify-content-center">
    <ul class="list-unstyled col-10">
        <li class="media mt-3" th:each="member: ${members}">
            <svg th:if="${#strings.isEmpty(member?.profileImage)}" th:data-jdenticon-value="${member.username}" width="64" height="64" class="rounded border bg-light mr-3"></svg>
            <img th:if="${!#strings.isEmpty(member?.profileImage)}" th:src="${member?.profileImage}" width="64" height="64" class="rounded border mr-3"/>
            <div class="media-body">
                <h5 class="mt-0 mb-1"><span th:text="${member.username}"></span> <span th:if="${isManager}" class="badge badge-primary">Manager</span></h5>
                <span th:text="${member.bio}"></span>
            </div>
        </li>
    </ul>
</div>

<div th:fragment="party-settings-menu (currentMenu)" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link" th:classappend="${currentMenu == 'description'}? active"
       id="v-pills-party-settings-description-tab" data-toggle="pill" href="#" th:href="@{'/party/' + ${party.path} + '/settings/description'}"
       role="tab" aria-controls="v-pills-party-settings-description" aria-selected="false" th:text="#{description}">description</a>
    <a class="nav-link" th:classappend="${currentMenu == 'banner'}? active"
       id="v-pills-party-settings-banner-tab" data-toggle="pill" href="#" th:href="@{'/party/' + ${party.path} + '/settings/banner'}"
       role="tab" aria-controls="v-pills-party-settings-banner" aria-selected="false" th:text="#{banner}">banner</a>
    <a class="nav-link" th:classappend="${currentMenu == 'tags'}? active"
       id="v-pills-party-settings-tags-tab" data-toggle="pill" href="#" th:href="@{'/party/' + ${party.path} + '/settings/tags'}"
       role="tab" aria-controls="v-pills-party-settings-tags" aria-selected="false" th:text="#{tags}">tags</a>
    <a class="nav-link" th:classappend="${currentMenu == 'zones'}? active"
       id="v-pills-party-settings-zones-tab" data-toggle="pill" href="#" th:href="@{'/party/' + ${party.path} + '/settings/zones'}"
       role="tab" aria-controls="v-pills-party-settings-zones" aria-selected="false" th:text="#{zones}">zones</a>
    <a class="nav-link" th:classappend="${currentMenu == 'party'}? active"
       id="v-pills-party-settings-party-tab" data-toggle="pill" href="#" th:href="@{'/party/' + ${party.path} + '/settings/party'}"
       role="tab" aria-controls="v-pills-party-settings-party" aria-selected="false" th:text="#{party}">party</a>
</div>

<div th:fragment="message" th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
    <span th:text="${message}">Complete</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div th:fragment="member-list (members, isManager)" class="row px-3 justify-content-center">
    <ul class="list-unstyled col-10">
        <li class="media mt-3" th:each="member: ${members}">
            <svg th:if="${#strings.isEmpty(member?.profileImage)}" th:data-jdenticon-value="${member.username}" width="64" height="64" class="rounded border bg-light mr-3"></svg>
            <img th:if="${!#strings.isEmpty(member?.profileImage)}" th:src="${member?.profileImage}" width="64" height="64" class="rounded border mr-3"/>
            <div class="media-body">
                <h5 class="mt-0 mb-1"><span th:text="${member.username}"></span> <span th:if="${isManager}" class="badge badge-primary">Manager</span></h5>
                <span th:text="${member.bio}"></span>
            </div>
        </li>
    </ul>
</div>

<div th:fragment="event-form (mode, action)">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb text-center h2">
            <li class="breadcrumb-item" th:href="@{'/party/' + ${party.path}}" ><a href="#">Party</a></li>
            <li th:if="${mode == 'edit'}" class="breadcrumb-item active" aria-current="page" th:text="${event.title}">Edit</li>
            <li th:if="${mode == 'new'}" class="breadcrumb-item active" aria-current="page">New Event</li>
        </ol>
    </nav>
    <form class="needs-validation col-10 align-items-center"
          th:action="@{${action}}"
          th:object="${eventForm}" method="post" novalidate> <!--th:action="@{'/party/' + ${party.path} + '/new-event'}"-->
        <div class="row mb-2">
            <label for="title">Title</label>
            <input id="title" type="text" th:field="*{title}" class="form-control"
                   placeholder="Title" aria-describedby="titleHelp" required>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</small>
        </div>
        <div class="row mb-2" th:if="${mode == 'new'}">
            <label for="eventType">Type</label>
            <select th:field="*{eventType}"  class="custom-select mr-sm-2" id="eventType" aria-describedby="eventTypeHelp">
                <option th:value="FCFS">FCFS</option>
                <option th:value="CONFIRMATIVE">Confirmative</option>
            </select>
        </div>
        <div class="row mb-2">
            <label for="limitOfEnrollments">Limit of enrollment</label>
            <input id="limitOfEnrollments" type="number" th:field="*{limitOfEnrollments}" class="form-control" placeholder="0"
                   aria-describedby="limitOfEnrollmentsHelp">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('limitOfEnrollments')}" th:errors="*{limitOfEnrollments}">Error</small>
        </div>
        <div class="row g-3 mb-2">
            <div class="col-md">
                <label for="endEnrollmentDateTime">End of Enrollment</label>
                <input id="endEnrollmentDateTime" type="datetime-local" th:field="*{endEnrollmentDateTime}" class="form-control"
                       aria-describedby="endEnrollmentDateTimeHelp" required>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('endEnrollmentDateTime')}" th:errors="*{endEnrollmentDateTime}">Error</small>
            </div>
            <div class="col-md">
                <label for="startDateTime">Start of Event</label>
                <input id="startDateTime" type="datetime-local" th:field="*{startDateTime}" class="form-control"
                       aria-describedby="startDateTimeHelp" required>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('startDateTime')}" th:errors="*{startDateTime}">Error</small>
            </div>
            <div class="col-md">
                <label for="endDateTime">End of Event</label>
                <input id="endDateTime" type="datetime-local" th:field="*{endDateTime}" class="form-control"
                       aria-describedby="endDateTimeHelp" required>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('endDateTime')}" th:errors="*{endDateTime}">Error</small>
            </div>
        </div>
        <div class="row mb-2">
            <label for="description">Description</label>
            <textarea id="description" type="textarea" th:field="*{description}" class="editor form-control"
                      placeholder="This event is ..." aria-describedby="descriptionHelp" required></textarea>
            <!--<small id="descriptionHelp" class="form-text text-muted">
                모임에서 다루는 주제, 장소, 진행 방식 등을 자세히 적어 주세요.
            </small>
            <small class="invalid-feedback">모임 설명을 입력하세요.</small>-->
            <small class="form-text text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</small>
        </div>
        <div class="row mb-2">
            <button class="btn btn-primary btn-block" type="submit"
                    aria-describedby="submitHelp">Confirm</button>
        </div>
    </form>
</div>

<ul th:fragment="notification-list (notifications)" class="list-group list-group-flush">
    <a href="#" th:href="@{${noti.link}}" th:each="noti: ${notifications}"
       class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <small class="text-muted" th:text="${noti.title}">Noti title</small>
            <small class="fromNow text-muted" th:text="${noti.createdDateTime}">3 days ago</small>
        </div>
        <p th:text="${noti.message}" class="text-left mb-0 mt-1">message</p>
    </a>
</ul>

<div th:fragment="party-list (partyList)" class="album py-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" th:each="party: ${partyList}">
            <div class="card shadow-sm">
                <img th:src="${party.image}" class="card-img-top" th:alt="${party.title}" >
                <!--{{< placeholder width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" >}}-->
                <div class="card-body">
                    <a th:href="@{'/party/' + ${party.path}}" class="text-decoration-none">
                        <h5 class="card-title context" th:text="${party.title}"></h5>
                    </a>
                    <p class="card-text" th:text="${party.shortDescription}">Short description</p>
                    <p class="card-text context">
                        <span th:each="tag: ${party.tags}" class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                            <a th:href="@{'/search/tag/' + ${tag.title}}" class="text-decoration-none text-white">
                                <i class="fa fa-tag"></i> <span th:text="${tag.title}">Tag</span>
                            </a>
                        </span>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <!--<div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Bookmark</button>
                        </div>-->
                        <small class="text-muted">
                            <i class="fa fa-user-circle"></i>
                            <span th:text="${party.memberCount}"></span>
                        </small>
                        <small class="text-muted date" th:text="${party.publishedDateTime}">3 mins</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-4" th:each="party: ${partyList}">
            <div class="card mb-4 shadow-sm">
                <img th:src="${party.image}" class="card-img-top" th:alt="${party.title}" >
                <div class="card-body">
                    <a th:href="@{'/party/' + ${party.path}}" class="text-decoration-none">
                        <h5 class="card-title context" th:text="${party.title}"></h5>
                    </a>
                    <p class="card-text" th:text="${party.shortDescription}">Short description</p>
                    <p class="card-text context">
                                <span th:each="tag: ${party.tags}" class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                                    <a th:href="@{'/search/tag/' + ${tag.title}}" class="text-decoration-none text-white">
                                        <i class="fa fa-tag"></i> <span th:text="${tag.title}">Tag</span>
                                    </a>
                                </span>
                        <span th:each="zone: ${party.zones}" class="font-weight-light text-monospace badge badge-primary mr-3">
                                    <a th:href="@{'/search/zone/' + ${zone.id}}" class="text-decoration-none text-white">
                                        <i class="fa fa-globe"></i> <span th:text="${zone.city}" class="text-white">City</span>
                                    </a>
                                </span>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">
                            <i class="fa fa-user-circle"></i>
                            <span th:text="${party.memberCount}"></span> members
                        </small>
                        <small class="text-muted date" th:text="${party.publishedDateTime}">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>
