<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments.html :: head-css ('/css/headers.css')}"></head>
<body class="bg-light">
    <header th:replace="~{fragments.html :: header}"></header>
    <div class="container">
        <div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
        <a href="#" th:href="@{/check-email}" class="alert-link">Please check your email to confirm.</a>
        </div>
        <div class="py-5 text-center">
            <h2>INDEX</h2>
        </div>
    </div>

</body>
</html>