<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head.html :: head-title(~{::title})}">
    <title th:text="#{title}">title</title>
</head>

<body>
<header th:replace="~{fragments/header.html :: header-common}"></header>

<main class="container">
    <div class="py-5 text-center">
        <p class="lead" th:if="${partyPage.getTotalElements() == 0}">
            <strong th:text="${keyword}" id="keyword" class="context"></strong> is not matched.
        </p>
        <p class="lead" th:if="${partyPage.getTotalElements() > 0}">
            <strong th:text="${keyword}" id="keyword" class="context"></strong> is matched with
            <span th:text="${partyPage.getTotalElements()}"></span> parties.
        </p>
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Sort
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item"
                       th:classappend="${#strings.equals(sortProperty, 'publishedDateTime')}? active"
                       href="#"
                       th:href="@{'/search/tag?sort=publishedDateTime,desc&keyword=' + ${keyword}}">Newest</a></li>
                <!--<li><a class="dropdown-item"
                       th:classappend="${#strings.equals(sortProperty, 'publishedDateTime')}? active"
                       href="#"
                       th:href="@{'/search/tag?sort=publishedDateTime,asc&keyword=' + ${keyword}}">Oldest</a></li>-->
                <li><a class="dropdown-item"
                       th:classappend="${#strings.equals(sortProperty, 'memberCount')}? active"
                       href="#"
                       th:href="@{'/search/tag?sort=memberCount,desc&keyword=' + ${keyword}}">Most Members</a></li>
                <!--<li><a class="dropdown-item"
                       th:classappend="${#strings.equals(sortProperty, 'memberCount')}? active"
                       href="#"
                       th:href="@{'/search/tag?sort=memberCount,asc&keyword=' + ${keyword}}">Least Members</a></li>-->
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div th:replace="fragments.html :: party-list (partyList=${partyPage.getContent()})"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!partyPage.hasPrevious()}? disabled">
                        <a th:href="@{'/search/tag?keyword=' + ${keyword} + '&sort=' + ${sortProperty} + ',desc&page=' + ${partyPage.getNumber() - 1}}"
                           class="page-link" tabindex="-1" aria-disabled="true">
                            Previous
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i == partyPage.getNumber()}? active"
                        th:each="i: ${#numbers.sequence(0, partyPage.getTotalPages() - 1)}">
                        <a th:href="@{'/search/tag?keyword=' + ${keyword} + '&sort=' + ${sortProperty} + ',desc&page=' + ${i}}"
                           class="page-link" href="#" th:text="${i + 1}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${!partyPage.hasNext()}? disabled">
                        <a th:href="@{'/search/tag?keyword=' + ${keyword} + '&sort=' + ${sortProperty} + ',desc&page=' + ${partyPage.getNumber() + 1}}"
                           class="page-link">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>
<script th:replace="~{fragments/script.html :: date-time}"></script>
<script src="/node_modules/mark.js/dist/jquery.mark.min.js"></script>
<script type="application/javascript">
    $(function(){
        var mark = function() {
            // Read the keyword
            var keyword = $("#keyword").text();

            // Determine selected options
            var options = {
                "each": function(element) {
                    setTimeout(function() {
                        $(element).addClass("animate");
                    }, 150);
                }
            };

            // Mark the keyword inside the context
            $(".context").unmark({
                done: function() {
                    $(".context").mark(keyword, options);
                }
            });
        };

        mark();
    });
</script>
</body>

</html>