<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head-css ('/css/headers.css')}"></head>
<body class="bg-light">
    <header th:replace="~{fragments.html :: header}"></header>
    <div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2"><!-- menu -->
            <div th:replace="fragments.html :: settings-menu(currentMenu='profile')"></div>
        </div>

        <div class="col-8"><!-- introduce -->
            <!-- alert -->
            <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                <span th:text="${message}">message</span>
            </div>

            <div class="row">
                <!-- username -->
                <h2 class="col-sm-12" th:text="${account.username}">username</h2>
            </div>

            <div class="row mt-3 justify-content-center"><!-- update form and profile image -->
                <form class="col-sm-6"
                      action="#" th:action="@{/settings/profile}"
                      th:object="${profile}" method="post" novalidate><!-- update form -->
                    <!-- update form -->
                    <div class="form-group">
                        <label for="bio">bio</label>
                        <input id="bio" type="text" th:field="*{bio}" class="form-control"
                               placeholder="Please introduce yourself in a sentence." aria-describedby="bioHelp" required>
                        <small id="bioHelp" class="form-text text-muted">
                            You can write up to 35 letters.
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}">
                            Please enter more short.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="url">URL</label>
                        <input id="url" type="url" th:field="*{url}" class="form-control"
                               placeholder="http://github.com/steve" aria-describedby="urlHelp" required>
                        <small id="urlHelp" class="form-text text-muted">
                            GitHub, Instagram, YouTube...
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('url')}" th:errors="*{url}">
                            Please enter URL.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="company">Jobs</label>
                        <input id="company" type="text" th:field="*{occupation}" class="form-control"
                               placeholder="What is your job?" aria-describedby="occupationHelp" required>
                        <small id="occupationHelp" class="form-text text-muted">
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input id="location" type="text" th:field="*{location}" class="form-control"
                               placeholder="Redmond, WA, USA"
                               aria-describedby="locationdHelp" required>
                        <small id="locationdHelp" class="form-text text-muted">
                            London, NewYork, Tokyo, Seoul
                        </small>
                    </div>
                    <div class="form-group">
                        <input id="profileImage" type="hidden" th:field="*{profileImage}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit"
                                aria-describedby="submitHelp">Update</button>
                    </div>
                </form>

                <div class="col-sm-6">
                    <!-- profile image -->
                    <div class="card text-center">
                        <div class="card-header">
                            Profile Image
                        </div>
                        <div id="current-profile-image" class="mt-3">
                            <svg th:if="${#strings.isEmpty(profile.profileImage)}"
                                 class="rounded"
                                  th:data-jdenticon-value="${account.username}" width="125" height="125"></svg>
                            <img th:if="${!#strings.isEmpty(profile.profileImage)}"
                                 class="rounded"
                                 th:src="${profile.profileImage}"
                                 width="125" height="125" alt="name" th:alt="${account.username}"/>
                        </div>
                        <div id="new-profile-image" class="mt-3"></div>
                        <div class="card-body">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="profile-image-file">
                                <label class="custom-file-label" for="profile-image-file">Update</label>
                            </div>
                            <div id="new-profile-image-control" class="mt-3">
                                <button class="btn btn-outline-primary btn-block" id="cut-button">Edit</button>
                                <button class="btn btn-outline-success btn-block" id="confirm-button">Confirm</button>
                                <button class="btn btn-outline-warning btn-block" id="reset-button">Cancel</button>
                            </div>
                            <div id="cropped-new-profile-image" class="mt-3"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- introduce end -->
    </div>
    </div>

    <link  href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet">
    <script src="/node_modules/cropper/dist/cropper.min.js"></script>
    <script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
    <script type="application/javascript">
        <!-- jquery -->
        $(function() {
            cropper = '';
            let $confirmBtn = $("#confirm-button");
            let $resetBtn = $("#reset-button");
            let $cutBtn = $("#cut-button");
            let $newProfileImage = $("#new-profile-image");
            let $currentProfileImage = $("#current-profile-image");
            let $resultImage = $("#cropped-new-profile-image");
            let $profileImage = $("#profileImage");

            $newProfileImage.hide();
            $cutBtn.hide();
            $resetBtn.hide();
            $confirmBtn.hide();

            $("#profile-image-file").change(function(e) {
                if (e.target.files.length === 1) {
                    const reader = new FileReader();
                    reader.onload = e => {
                        if (e.target.result) {
                            let img = document.createElement("img");
                            img.id = 'new-profile';
                            img.src = e.target.result;
                            img.width = 250;

                            $newProfileImage.html(img);
                            $newProfileImage.show();
                            $currentProfileImage.hide();

                            let $newImage = $(img);
                            $newImage.cropper({aspectRatio: 1});
                            cropper = $newImage.data('cropper');

                            $cutBtn.show();
                            $confirmBtn.hide();
                            $resetBtn.show();
                        }
                    };

                    reader.readAsDataURL(e.target.files[0]);
                }
            });

            $resetBtn.click(function() {
                $currentProfileImage.show();
                $newProfileImage.hide();
                $resultImage.hide();
                $resetBtn.hide();
                $cutBtn.hide();
                $confirmBtn.hide();
                $profileImage.val('');
            });

            $cutBtn.click(function () {
                let dataUrl = cropper.getCroppedCanvas().toDataURL();
                let newImage = document.createElement("img");
                newImage.id = "cropped-new-profile-image";
                newImage.src = dataUrl;
                newImage.width = 125;
                $resultImage.html(newImage);
                $resultImage.show();
                $confirmBtn.show();

                $confirmBtn.click(function () {
                    $newProfileImage.html(newImage);
                    $cutBtn.hide();
                    $confirmBtn.hide();
                    $profileImage.val(dataUrl);
                });
            });
        });
    </script>
</body>
</html>