<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html :: head-title(~{::title})}">
    <title th:text="#{title}">title</title>
    <link rel="stylesheet" th:href="@{/css/tagify.css}">
</head>

<body>
<header th:replace="~{fragments/header.html :: header-common}"></header>

<main class="container">
    <div class="row my-5 mx-4 justify-content-center">
        <div class="col-lg-2 mb-2">
            <!-- menu -->
            <div th:replace="fragments.html :: settings-menu(currentMenu='profile')"></div>
        </div>
        <div class="col-lg-8">
            <!-- alert -->
            <div th:if="${message}" class="alert alert-info alert-dismissible fade show" role="alert">
                <span th:text="${message}">message</span>
            </div>
            <div class="row justify-content-center">
                <!-- profile image -->
                <div class="mb-2">
                    <label for="profile-image" class="form-label">Profile Image</label>
                    <div id="profile-image" class="card text-center">
                        <div class="card-body">
                            <div id="new-profile-image"></div>
                            <div id="custom-file" class="custom-file mt-3">
                                <input type="file" class="custom-file-input" id="profile-image-file" hidden>
                                <label class="btn btn-outline-secondary custom-file-label" for="profile-image-file">Select file</label>
                            </div>
                            <div id="new-profile-image-control" class="my-3">
                                <button class="btn btn-outline-primary btn-block" id="cut-button">Cut</button>
                                <button class="btn btn-outline-warning btn-block" id="reset-button">Cancel</button>
                            </div>
                            <div id="cropped-new-profile-image"> </div>
                            <div id="cropped-new-profile-image-control" class="my-3">
                                <button class="btn btn-outline-success btn-block" id="confirm-button">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- update form -->
                <form action="#" th:action="@{/settings/profile}" th:object="${profile}" method="post" novalidate>
                    <div class="form-group mb-2">
                        <label for="bio" class="form-label">bio</label>
                        <input id="bio" type="text" th:field="*{bio}" class="form-control" th:errorclass="field-error"
                               placeholder="I love potato." aria-describedby="bioHelp" required>
                        <small class="form-text text-danger field-error" th:errors="*{bio}">
                            Please enter more short.
                        </small>
                    </div>
                    <div class="form-group mb-2">
                        <label for="url" class="form-label">URL</label>
                        <input id="url" type="url" th:field="*{url}" class="form-control" th:errorclass="field-error"
                               placeholder="http://github.com/steve" aria-describedby="urlHelp" required>
                        <small class="form-text text-danger field-error" th:errors="*{url}">
                            Please enter URL.
                        </small>
                    </div>
                    <div class="form-group mb-2">
                        <label for="company" class="form-label">Jobs</label>
                        <input id="company" type="text" th:field="*{occupation}" class="form-control" th:errorclass="field-error"
                               placeholder="Programmer" aria-describedby="occupationHelp" required>
                        <!--<small id="occupationHelp" class="form-text text-muted">
                        </small>-->
                        <small class="form-text text-danger field-error" th:errors="*{occupation}">
                            Please enter Jobs.
                        </small>
                    </div>
                    <div class="form-group mb-2">
                        <label for="location" class="form-label">Location</label>
                        <input id="location" type="text" th:field="*{location}" class="form-control" th:errorclass="field-error"
                               placeholder="Incheon, South Korea" aria-describedby="locationdHelp" required>
                    </div>
                    <div class="form-group mb-2">
                        <input id="profileImage" type="hidden" th:field="*{profileImage}" class="form-control" />
                    </div>
                    <div class="form-group d-flex align-items-end flex-column">
                        <button class="btn btn-primary btn-block" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>

<link  href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet">
<script src="/node_modules/cropper/dist/cropper.min.js"></script>
<script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
<script type="application/javascript">
    <!-- jquery -->
    $(function() {
        cropper = '';
        let $confirmBtn = $("#confirm-button");
        let $resetBtn = $("#reset-button");
        let $cutBtn = $("#cut-button");
        let $newProfileImage = $("#new-profile-image");
        let $currentProfileImage = $("#current-profile-image");
        let $resultImage = $("#cropped-new-profile-image");
        let $profileImage = $("#profileImage");
        let $profileImageFile = $("#profile-image-file");
        let $customFile = $("#custom-file");

        $newProfileImage.hide();
        $cutBtn.hide();
        $resetBtn.hide();
        $confirmBtn.hide();

        $("#profile-image-file").change(function(e) {
            if (e.target.files.length === 1) {
                const reader = new FileReader();
                reader.onload = e => {
                    if (e.target.result) {
                        if (!e.target.result.startsWith("data:image")) {
                            alert("Please select an image file");
                            return;
                        }

                        let img = document.createElement("img");
                        img.id = 'new-profile';
                        img.src = e.target.result;
                        img.setAttribute('width', '100%');

                        $newProfileImage.html(img);
                        $newProfileImage.show();
                        $currentProfileImage.hide();
                        $customFile.hide();

                        let $newImage = $(img);
                        $newImage.cropper({aspectRatio: 1});
                        cropper = $newImage.data('cropper');

                        $cutBtn.show();
                        $confirmBtn.hide();
                        $resetBtn.show();
                    }
                };

                reader.readAsDataURL(e.target.files[0]);
            }
        });

        $resetBtn.click(function() {
            $currentProfileImage.show();
            $customFile.show();
            $newProfileImage.hide();
            $resultImage.hide();
            $resetBtn.hide();
            $cutBtn.hide();
            $confirmBtn.hide();
            $profileImage.val('');
            $profileImageFile.val('');
        });

        $cutBtn.click(function () {
            let dataUrl = cropper.getCroppedCanvas().toDataURL();

            if (dataUrl.length > 1000 * 1024) {
                alert("image file size is too large. (max = 1,024,000 byte, current = " + dataUrl.length + " byte)");
                return;
            }

            let newImage = document.createElement("img");
            newImage.id = "cropped-new-profile-image";
            newImage.src = dataUrl;
            newImage.width = 125;
            $resultImage.html(newImage);
            $resultImage.show();
            $confirmBtn.show();

            $confirmBtn.click(function () {
                $newProfileImage.html(newImage);
                $cutBtn.hide();
                $confirmBtn.hide();
                $profileImage.val(dataUrl);
            });
        });
    });
</script>
</body>

</html>