<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html :: head-title-links(~{::title}, ~{::link})}">
    <title th:text="#{title}">title</title>
    <link rel="stylesheet" th:href="@{/css/tagify.css}">
</head>

<body>
<header th:replace="~{fragments/header.html :: header-common}"></header>

<main>
    <div class="container">
        <div class="row my-5 justify-content-center">
            <div class="col-lg-2 col-3">
                <div th:replace="fragments.html :: settings-menu(currentMenu='zones')"></div>
            </div>

            <div class="col-8">
                <!-- description -->
                <div class="alert alert-dark" role="alert">
                    You can add a zone with comma or enter key
                </div>
                <!-- function -->
                <div id="whitelist" th:text="${whitelist}" hidden></div>
                <input name="tags-outside" class="tagify--outside" th:value="${#strings.listJoin(zones, ',')}"/>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>
<script th:replace="~{fragments/script.html :: ajax-csrf-header}"></script>
<script th:replace="~{fragments/script.html :: update-zones(baseUrl='/settings/zones')}"></script>
</body>

</html>